    {% load static %}
    {% load wagtailimages_tags %}
    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content">

      <!-- - - - - - - - - - - - - - Revolution Slider - - - - - - - - - - - - - - - - -->

      <div class="rev-slider-wrapper">

        <div id="rev-slider" class="rev-slider"  data-version="5.0">

          <ul>

            <li data-transition="fade" class="align-center">

              <img src="{% static 'images/Injection-Products.jpg' %}" class="rev-slidebg" alt="">      

              <!-- - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-text rs-parallaxlevel-1"
                    data-x="center"
                    data-y="top" data-voffset="180"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-responsive_offset="on" 
                    data-elementdelay="0.05" >Здравствуйте, мы рады вам!
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - - -->     

              <!-- - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-large rs-parallaxlevel-2"
                    data-x="center"
                    data-y="top" data-voffset="225"
                    data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    >Мы перерабатываем пластик <br> и учим этому других
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - -->               

              <!-- - - - - - - - - - - - - - Layer 3 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                    data-x="center"
                    data-y="top" data-voffset="420"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":750,"speed":2500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'>
                <a href="#" class="btn btn-big type-2 btn-style-7">Подробнее</a>
              </div>

              <!-- - - - - - - - - - - - - - End of Layer 3 - - - - - - - - - - - - - - - - --> 

            </li>

            <li data-transition="fade" class="align-center">

              <img src="{% static 'images/Shredded-Plastic.jpg' %}" class="rev-slidebg" alt="">      

              <!-- - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-text rs-parallaxlevel-1"
                    data-x="center"
                    data-y="top" data-voffset="180"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-responsive_offset="on" 
                    data-elementdelay="0.05" >Школа юных химиков и физиков
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - - -->     

              <!-- - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-large rs-parallaxlevel-2"
                    data-x="center"
                    data-y="top" data-voffset="225"
                    data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    >Мы за правильный поход </br> к обучению
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - -->               

              <!-- - - - - - - - - - - - - - Layer 3 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                    data-x="center"
                    data-y="top" data-voffset="420"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":550,"speed":2500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'>
                <a href="#" class="btn btn-big type-2 btn-style-7">Подробнее</a>
                <a href="#" class="btn btn-big">Записаться</a>
              </div>

              <!-- - - - - - - - - - - - - - End of Layer 3 - - - - - - - - - - - - - - - - --> 

            </li>

            <li data-transition="fade" class="align-center">

              <img src="{% static 'images/Tiles.jpg' %}" class="rev-slidebg" alt="">     

              <!-- - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-text rs-parallaxlevel-1"
                    data-x="center"
                    data-y="top" data-voffset="180"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-responsive_offset="on" 
                    data-elementdelay="0.05" > Мастер-класс
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - - -->     

              <!-- - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme scaption-white-large rs-parallaxlevel-2"
                    data-x="center"
                    data-y="top" data-voffset="225"
                    data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    >Переработайте свой мусор <br> на нашем оборудовании!
                  </div>

              <!-- - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - -->               

              <!-- - - - - - - - - - - - - - Layer 3 - - - - - - - - - - - - - - - - -->      

              <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                    data-x="center"
                    data-y="top" data-voffset="420"
                    data-whitespace="nowrap"
                    data-frames='[{"delay":750,"speed":2500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'>
                <a href="#" class="btn btn-big type-2 btn-style-7">Подробнее</a>
                <a href="#" class="btn btn-big">Записаться</a>
              </div>

              <!-- - - - - - - - - - - - - - End of Layer 3 - - - - - - - - - - - - - - - - --> 

            </li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - - End of Slider - - - - - - - - - - - - - - - - -->

      <div class="container">
        
        

      </div>
    
    <!-- page-section -->

      <div class="page-section">
        
        <div class="container">
          
          <div class="row">
        <div class="col-md-8">
                
                <h2 class="section-title type2 style-2">Добро пожаловать <br> в EcoLab</h2>

                <div class="tabs tabs-section clearfix">
                    <!--tabs navigation-->                  
                    <ul class="tabs-nav clearfix">
                      <li class="">
                        <a href="#tab-1">Кто мы</a>
                      </li>
                      <li class="">
                        <a href="#tab-2">Наша миссия</a>
                      </li>
                      <li class="">
                        <a href="#tab-3">Наши ценности</a>
                      </li>
                    </ul>
                    <!--tabs content-->                 
                    <div class="tabs-content">
                      <div id="tab-1">

                        <p>
                          Мы занимаемся переработкой пластика, делаем дизайнерские вещи из вторсырья. Так же мы проводим лекции для детей об экологии, а для самых заинтересованных мы создали <a>школу для юных химиков и физиков</a>. Занятия ведут опытные преподаватели а знания закрепляются на практике. Вы можете сдать нам пластик на переработку и при желании самостоятельно его переработать с помощь наших инструментов.  
                        </p>
                        <p>
                          Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. 
                        </p>
                        <a href="/команда-проекта" class="info-btn">Познакомьтесь с нашей командой</a>

                      </div>
                      <div id="tab-2">

                        <p>
                          Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.  
                        </p>
                        <p>
                          Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. 
                        </p>
                        <a href="/команда-проекта" class="info-btn">Meet Our Team</a>

                      </div>
                      <div id="tab-3">

                        <p>
                          Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.  
                        </p>
                        <p>
                          Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. 
                        </p>
                        <a href="/команда-проекта" class="info-btn">Meet Our Team</a>

                      </div>
                    </div>
              <div class="content-element2">
                
                

              </div>
                  </div>

              </div>
            
            <div class="col-md-4">
              {%if events %}
              <h3>Приближающиеся события</h3>
              <ul class="news-list">
                {% for event in events %}
                  {% with event=event.specific %}
                 <li>
                     <article class="entry">

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2016-01-27">{{event.date}}</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="{{event.timepad}}">{{event.title}}</a></h5>

                    <div class="contact-info-menu">

                            <div class="contact-info-item">
                              <i class="icon-clock"></i>
                              <span>Длительность: {{event.duration}} мин.</span>
                            </div>
                            <div class="contact-info-item">
                              <i class="icon-location"></i>
                              <span>{{event.location}}</span>
                            </div>

                          </div>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

                        </li>
                      {% endwith %}
                    {%endfor%}
                    </ul>
                    <a href="/мероприятия" class="info-btn">Больше событий</a>
                 
              {%endif%}
            </div>
          </div>

        </div>

      </div>
    <div class="row">
                  <div class="col-sm-6">
                    
                    <!-- banner -->
                    <a href="#" class="banner-item">
                            <div class="banner-inner">
                              <i class="licon-tie"></i>
                              <h5 class="banner-title">Мы ищем <br> Преподавателей и работников склада</h5>
                              <p>Удобное расположение, гибкий график.</p>
                              <div class="btn btn-small">Подробнее о вакансиях</div>
                            </div>
                          </a>

                  </div>
                  <div class="col-sm-6">
                    
                    <!-- banner -->
                    <a href="#" class="banner-item">
                            <div class="banner-inner">
                              <i class="licon-question"></i>
                              <h5 class="banner-title">А вы знали?</h5>
                              <p>Мы можем провести экологический урок в вашей школе, или организовать мероприятие для вашего бизнеса на тему раздельного сбора отходов и eco-friendly бизнеса.</p>
                              <div class="btn btn-small">Узнать подробнее</div>
                            </div>
                          </a>

                  </div>
                </div>
    <!-- page-section -->
{%if events %}
    <div class="section-with-carousel with-bg">

          <div class="row">

            <div class="col-md-6">

              <div class="countdown-area align-center">

                <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

                  <div class="carousel-type-1">

                    <div class="owl-carousel" data-max-items="1" data-autoplay="true">
                      {% for event in events %}
                          {% with event=event.specific %}
                      <!-- Slide -->                  
                      <div class="item-carousel">
                        <!-- Carousel Item -->
                        
                        <h6 class="section-pre-title">Приближающиеся события</h6>               
                        <h2 class="section-title">{{event.title}}</h2>
                        <time datetime="2016-01-27">{{event.date}}</time>

                        <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

                  <div class="countdown" data-year='{{event.date|date:"Y"}}' data-month='{{event.date|date:"n"}}' data-day='{{event.date|date:"j"}}' data-hours='{{event.date|date:"G"}}' data-minutes='{{event.date|date:"i"}}' data-seconds='0'></div>

                  <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

                  <a href="#" class="btn btn-big">Присоедениться!</a>
                    
                        <!-- /Carousel Item --> 
                      </div>
                        <!-- /Slide -->                 
                {% endwith %}
                {%endfor%}
                {%if events|length == 1%}
                      <!-- Slide -->                  
                      <div class="item-carousel">
                       

                       

                        <!-- /Carousel Item --> 
                      </div>
                {%endif%}
                    </div>

                </div>
  <!--/Owl-Carousel-->
              </div>

            </div>
            <div class="col-md-6">

              <div class="img-holder">
                <img src="{% static 'images/events1.jpg' %}" alt="">
              </div>

            </div>

          </div>
          
      </div>
{%endif%}    
    <!-- page-section -->
      <div class="holder-bg type-2 parallax-section" data-bg="{%static 'images/Shreddier-and-Extrusion.jpg' %}">

      <div class="container">

        <div class="title-holder align-center">
          
          <h2 class="section-title">Наши направления</h2>
          <p>Мы очень любим делать интересные и полезные городские проекты. <br> Экология, урбанистика, дизайн, благотворительность. Мы ждем тебя в нашу <a style="color:#a6c437;" href="staff.html">команду</a> </p>

        </div>
        
        <div class="icons-box fx-col-3">

          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"> <i class="fa fa-recycle" aria-hidden="true"></i>
                <h5 class="icons-box-title">
                  <a href="#">Переработка пластика</a>
                </h5>
                <p>
                  Мы способны переработать практически любой вид пластика и сделать из него практичную и красивую вещь.
                </p>
              </div>
            </div>

          </div>
          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h5 class="icons-box-title">
                  <a href="#">Обучение осознанному потреблению</a>
                </h5>
                <p>
                  Мы проведем лекции и мастер-классы в вашем офисе, школе, университете.
                </p>
              </div>
            </div>

          </div>
          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"> <i class="fa fa-flask" aria-hidden="true"></i>
                <h5 class="icons-box-title">
                  <a href="#">Раздельный сбор в офисе</a>
                </h5>
                <p>
                  Мы организуем весь процесс от внедрения РСО до вывоза и поддержки сотрудников через интернет.
                </p>
              </div>
            </div>

          </div>
          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"> <i class="licon-brush"></i>
                <h5 class="icons-box-title">
                  <a href="#">Ярмарки, фестивали, субботники, лекции и др.</a>
                </h5>
                <p>
                  Участувуем как спикеры, эксперты  и организовываем свои мероприятия.
                </p>
              </div>
            </div>

          </div>
          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"><i class="fa fa-globe" aria-hidden="true"></i>
                <h5 class="icons-box-title">
                  <a href="#">Общемировые инициативы</a>
                </h5>
                <p>
                  Мы принимаем участие в общемировых инициативах таких как cleangames.ru, preciousplastic.com.
                </p>
              </div>
            </div>

          </div>
          <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
          <div class="icons-wrap">

            <div class="icons-item">
              <div class="item-box"> <i class="fa fa-users" aria-hidden="true"></i>
                <h5 class="icons-box-title">
                  <a href="#">Дизайн</a>
                </h5>
                <p>
                  Мы сотрудничаем с омскими университетами и вместе создаем новые дизайнерские продукты из вторсырья.
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

 <!-- page-section -->

    <div class="page-section">
      
      <div class="content-element-big">
        
        <div class="container">
            
              <!-- services -->
              <div class="align-center">

                <h2 class="section-title type2">Наши услуги</h2>
                <div class="services fx-col-3">
                  
                  <!-- service item -->
                  <div class="service-col">
                    
                    <div class="service-item">
                      <img src="{%static 'images/events2.jpg' %}" alt="">
                      <div class="service-inner">
                        <h4>Организация мероприятий или экологизация сущестующих</h4>
                        <p>Мы можем организовать эко-вечеринку или пикник на свежем воздухе для вашей компании. Мы работаем с ответвенными партнерами и практикуем ответвенные закупки. Мы можем организовать раздельный сбор отходов на вашем мерпориятии или помочь уменьшить углеродный след вашего мероприятия.</p>
                        <a href="#" class="btn btn-style-2">Читать подробнее</a>
                      </div>
                    </div>

                  </div>

                  <!-- service item -->
                  <div class="service-col">
                    
                    <div class="service-item">
                      <img src="{%static 'images/360x220_img8.jpg' %}" alt="">
                      <div class="service-inner">
                        <h4>Сделайте из своего пластикового мусора полезные вещи</h4>
                        <p>Используя наше обордование и технологии вы можете из пластика который собирались выкинуть сделать кашпо для растений или набор карабинов для ключей. Все ограничено лишь вашей фантазией.</p>
                        <a href="#" class="btn btn-style-2">Читать подробнее</a>
                      </div>
                    </div>

                  </div>

                  <!-- service item -->
                  <div class="service-col">
                    
                    <div class="service-item">
                      <img src="{% static 'images/events3.jpg' %}" alt="">
                      <div class="service-inner">
                        <h4>Раздельный сбор в вашей организации</h4>
                        <p>У нас есть опыт и возможность внедрить в вашем офисе или здании раздельный сбор и наладить вывоз вторсырья, мы проведем лекции, предоставим материалы и будем сопровождать вашу компанию на пути становления раздельного сбора. Так же мы можем порекомендовать средства для экономии воды, электричества, тепла в вашем офисе и сделать его более приятным для сотрудников.</p>
                        <a href="#" class="btn btn-style-2">Подробнее</a>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>
            
      </div>
          
          

          
          
      </div>

    <!-- page-section -->

    <!-- page-section -->

    <div class="holder-bg parallax-section owl-custom" data-bg="{% static 'images/1920x1000_bg1.jpg' %}">
          
      <div class="container">

        <div class="title-holder align-center">
          
          <h2 class="section-title">Переработай сам</h2>
          <p>Мы предлагаем вам в момент сдачи пластика сразу его переработать <br> Если вы хотите получить уникальную, необходимо сначала изготовить свою форму</p>

        </div>

        <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

              <div class="carousel-type-2">

                <div class="owl-carousel blog-type" data-max-items="3" data-item-margin="30">

                  <!-- Slide -->                  
                  <div class="item-carousel">
                    <!-- Carousel Item -->                  
                    <div class="welcome-item">

                <div class="welcome-inner">
                  
                  <div class="welcome-img">
                      <img src="{%static 'images/360x220_img7.jpg' %}" alt="">
                    </div>

                    <div class="welcome-content">

                      <svg class="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                      <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                    </svg>
                      
                      <div class="entry">

                      <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                      <div class="entry-body">

                        <h5 class="entry-title"><a href="#">Изготовление собственной формы вручную</a></h5>

                        <p>Вместе с нашим сотрудников вы из специаальной глины слепите форму того что вы хотите произвести из пластика. В течении 3 дней мы отольем ее и вы сможете использовать ее. </p>

                      </div>

                      <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                      <div class="class-info">
                        <div class="class-age">

                          <span>Возраст</span>
                          6+

                        </div>
                        <div class="class-size">
                          
                          <span>Количество участников</span>
                          до 3 

                        </div>
                        <div class="class-price">
                          
                          <span><i>Руб.</i>2000</span>
                          за 1 форму

                        </div>
                      </div>

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                    </div>

                    </div>

                </div>

              </div>
                    <!-- /Carousel Item --> 
                  </div>
                  <!-- /Slide -->                 

                  <!-- Slide -->                  
                  <div class="item-carousel">
                    <!-- Carousel Item -->                  
                    <div class="welcome-item">

                <div class="welcome-inner">
                  
                  <div class="welcome-img">
                      <img src="{% static 'images/360x220_img8.jpg' %}" alt="">
                    </div>

                    <div class="welcome-content">

                      <svg class="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                      <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                    </svg>
                      
                      <div class="entry">

                      <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                      <div class="entry-body">

                        <h5 class="entry-title"><a href="#">Планшетка для бумаги</a></h5>

                        <p>Используйте готовую форму и изготовьте планшетку для бумаги за 30 мин.</p>

                      </div>

                      <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                      <div class="class-info">
                        <div class="class-age">

                          <span>Возраст</span>
                          6+

                        </div>
                        <div class="class-size">
                          
                          <span>КОличество участников</span>
                          1

                        </div>
                        <div class="class-price">
                          
                          <span><i>Руб.</i>800</span>
                          за 1 шт \ >1 600 руб\шт

                        </div>
                      </div>

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                    </div>

                    </div>

                </div>

              </div>
                    <!-- /Carousel Item --> 
                  </div>
                  <!-- /Slide -->

                  <!-- Slide -->                  
                  <div class="item-carousel">
                    <!-- Carousel Item -->                  
                    <div class="welcome-item">

                <div class="welcome-inner">
                  
                  <div class="welcome-img">
                      <img src="{% static 'images/360x220_img8.jpg' %}" alt="">
                    </div>

                    <div class="welcome-content">

                      <svg class="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                      <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                    </svg>
                      
                      <div class="entry">

                      <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                      <div class="entry-body">

                        <h5 class="entry-title"><a href="#">Собственная форма по 3D модели</a></h5>

                        <p>Мы изготовим форму по вашей 3D модели и вам нужно будет лишь прийти и вылить пластик в нее на нашем оборудовании. </p>

                      </div>

                      <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                      <div class="class-info">
                        <div class="class-age">

                          <span>Возраст</span>
                          6+

                        </div>
                        <div class="class-size">
                          
                          <span>Количество участников</span>
                          до 3

                        </div>
                        <div class="class-price">
                          
                          <span><i>Руб.</i>2000</span>
                          за форму

                        </div>
                      </div>

                      <!-- - - - - - - - - - - - - - Class Information - - - - - - - - - - - - - - - - -->

                    </div>

                    </div>

                </div>

              </div>
                    <!-- /Carousel Item --> 
                  </div>
                  <!-- /Slide -->

                </div>

                <div class="owl-custom-buttons">

                <div class="custom-owl-prev"></div>
                <div class="custom-owl-next"></div>

              </div>

            </div>

      </div>

    </div>

    <!-- page-section -->


      <div class="holder-bg counters-section with-pattern">

      <div class="container">
        
        <div class="row table-row">
          <div class="col-md-4">
            
            <h2 class="section-title">EcoLab в цифрах</h2>

          </div>
          <div class="col-md-8">
            
            <div class="row">

              <div class="col-md-3 col-xs-6">

                <div class="counter">
                  <div class="counter-inner">
                    <h3 class="timer count-number" data-to="3" data-speed="1500">0</h3>
                    <p>Года опыта в эко-сфере</p>
                  </div>
                </div>

              </div>
              <div class="col-md-3 col-xs-6">

                <div class="counter">
                  <div class="counter-inner">
                    <h3 class="timer count-number" data-to="5" data-speed="1500">0</h3>
                    <p>Тонн пластика переработано</p>
                  </div>
                </div>

              </div>
              <div class="col-md-3 col-xs-6">

                <div class="counter">
                  <div class="counter-inner">
                    <h3 class="timer count-number" data-to="30" data-speed="1500">0</h3>
                    <p>Проведено мероприятий</p>
                  </div>
                </div>

              </div>
              <div class="col-md-3 col-xs-6">

                <div class="counter">
                  <div class="counter-inner">
                    <h3 class="timer count-number" data-to="3000" data-speed="1500">0</h3>
                    <p>Человек посетило наши мероприятия</p>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="call-out type-2">
              
      <div class="container">
        
        <div class="row table-row">
          <div class="col-sm-8">
            
            <h2>Подпишитесь на нас в социальных сетях</h2>
            <p>Там мы публикуем полезные лайфхаки для экологизации быта и общаемся с вами. </p>

          </div>
          <div class="col-sm-4">
            
            <div class="align-right">
                      <div class="button-holder">
                        <ul class="social-icons">
                          {%if settings.site_settings.SocialMediaSettings.facebook %}
                          <li class="fb-icon"><a href="{{settings.site_settings.SocialMediaSettings.facebook}}"><i class="icon-facebook"></i></a></li>
                          {%endif%}
                          {%if settings.site_settings.SocialMediaSettings.twitter %}
                          <li class="tweet-icon"><a href="{{settings.site_settings.SocialMediaSettings.twitter}}"><i class="icon-twitter"></i></a></li>
                          {%endif%}
                          {%if settings.site_settings.SocialMediaSettings.vk %}
                          <li class="tweet-icon"><a href="{{settings.site_settings.SocialMediaSettings.vk}}"><i class="icon-vkontakte"></i></a></li>
                          {%endif%}
                          {%if settings.site_settings.SocialMediaSettings.youtube %}
                          <li class="youtube-icon"><a href="{{settings.site_settings.SocialMediaSettings.youtube}}"><i class="icon-youtube"></i></a></li>
                          {%endif%}
                          {%if settings.site_settings.SocialMediaSettings.instagram %}<li class="insta-icon"><a href="{{ settings.site_settings.SocialMediaSettings.instagram }}"><i class="icon-instagram-4"></i></a></li> {%endif%}
                        </ul>
                      </div>
                  </div>

          </div>
        </div>

      </div>

    </div>
    {%if blogpages %}
    <div class="page-section-bg align-center">
      
      <div class="container">

        <h2 class="section-title type2">Последние новости</h2>
        
        <!-- welcome area -->
          <div class="welcome-section blog-type fx-col-3">
          
          <!-- welcome element -->
           {%for post in blogpages%}
           {%with post=post.specific%}
            <div class="welcome-col">
              
              <div class="welcome-item">

              <div class="welcome-inner">
                
                <div class="welcome-img">
                    {% image post.main_image fill-360x220 %}
                    <time class="entry-date" datetime="2016-08-20">
                      <span>{{post.date|date:"d"}}</span>{{post.date|date:"M"}}
                    </time>
                  </div>

                  <div class="welcome-content">

                    <svg class="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                  </svg>
                    
                    <div class="entry">

                    <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                    <div class="entry-body">

                      <h5 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h5>

                      <p>{{post.intro}}</p>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <div class="entry-byline"><a>{{post.owner.first_name}}</a></div>
                     
                      {% if post.tags.all.count %}
                            {% for tag in post.tags.all %}
                                    <a class="entry-news" href="/blog?tag={{ tag }}">{{tag}}</a>
                                {% endfor %}
                            {% endif %}
                      <!-- <a href="#" class="entry-comments-link">3</a> -->

                    </div>

                    <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                  </div>

                  </div>

              </div>

            </div>

            
            </div>
            {%endwith%}
            {%endfor%}
          </div>

          <a href="/блог" class="btn type-2 btn-style-6">Больше новостей</a>

      </div>

    </div>
    {%endif%}
    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->