
{% load static wagtailuserbar %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags%}

<div class="isotope three-collumn clearfix portfolio-holder">

{%for image in gallery_images%}
                    
<div class="item {%for tag in image.tags.all%}{{tag}} {%endfor%}">

<!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

  <div class="project">

          <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

          <div class="project-image">
    {% image image original as img%}

            <img src="{{img.url}}" alt="">
            <a href="{{img.url}}"  class="project-link project-action fancybox" title="{{image.title}}" rel="category"></a>

          </div>

          <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

      </div>

      <!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->

</div>
{%endfor%}



</div>

{% if gallery_images.has_next or gallery_images.has_previous %}
  <ul class="pagination">
    {% if gallery_images.has_previous %}
    <li>
        <a class="prev-page" page_id="{{ gallery_images.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a>  
    </li>
    {% endif %}
    {% for page in gallery_images.paginator.page_range %}
        <li class="gallery-pagination-item {% if gallery_images.number == page  %}active{% endif %}">
          <a class="{% if gallery_images.number == page  %}active{% endif %}" page_id="{{page }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% if gallery_images.has_next %}
    <li>
      <a class="next-page" page_id="{{ gallery_images.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a>
        
    </li>
    {% endif %}
  </ul>
{% endif %}