{% extends 'base.html' %}
{% load static wagtailuserbar %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
{%block join_form%}
 <div id="content">
<div class="holder-bg type-2 parallax-section" data-bg="{% static 'images/2059x1000_bg.jpg' %}">

	        <div class="container">
	        	<div class="row">
	        		<div class="col-sm-6">
	        			
	        			<h3 class="section-title">{{ page.title }}</h3>
	        			<div class="text-wrap">
	        				<p class="text-size-medium">{{page.paragraph|richtext}} </p>
	        			</div>
						
						<div class="fw-medium">
							<div class="small-title">У нас:</div>
		        			{% for block in page.describe_list %}
                                {% include_block block %}
                            {% endfor %}
                        </div>

	        		</div>
	        		<div class="col-sm-6">
						<form action="{{page.url}}" method="POST">
				            {% csrf_token %}
				             {% for field in page.get_form %}

							        {{ field.errors }}
							        {{ field.label_tag }} {{ field }}

							{% endfor %}
			                <button type="submit" class="btn">Отправить</button>
				        </form>
	        			<form>
                

			                

			            </form>


	        		</div>
	        	</div>
	        </div>
	        
	    </div>
</div>

{%endblock%}
{% endblock %}